<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" routerLink="/dashboard">Control rutas </a>
        <ul class="navbar-nav mr-auto" *ngIf="this.UserRol === 'admin'">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/listavehiculos" [routerLinkActive]="'active'">Crear vehiculos </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/lista" [routerLinkActive]="'active'">Crear conductores </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/listarodamiento" [routerLinkActive]="'active'">Crear rodamientos </a>
            </li>

            <!-- <li class="nav-item ">
                <a class="nav-link" routerLink="/variables" [routerLinkActive]="'active'">Bonificaciones </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/calendario" [routerLinkActive]="'active'">Calendario </a>
            </li> -->


        </ul>

    </div>

</nav>