<app-menu></app-menu>
<mat-card class="card">
    <h1>SOLICITUDES DE RUTA</h1>
<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <th>
            Fecha
        </th>
        <th>
            Nombre y apellido
        </th>
        <th>
            Placa
        </th> 
        <th>
            Estado
        </th>
       

    </thead>
    <tbody>
        <tr *ngFor="let item of listasRutas">
            <td>
                {{item.fecha}}
            </td>
            <td>
                {{item.conductor}}
            </td>
            <td>
                {{item.placa}}
            </td>

            <td>
                {{item.estado}}
            </td>
        </tr>
        <div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center;" class="alert alert-info" role="alert" *ngIf="listasRutas.length === 0">
            SIN USUARIOS
        </div>
    </tbody>
</table>
</div>

<button button mat-fab color="primary" (click)="openDialog()" class="button mt-5">
    <mat-icon>add</mat-icon>
  </button>

</mat-card>