<app-menu></app-menu>
<br />

<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Lista Control Rutas">
        <mat-card class="card">
            <button mat-raised-button style="background-color: #EB7827; color: white;" (click)="recargar()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-raised-button style="background-color: #EB7827; color: white;" (click)="exportAsXLSX()" class="button mt-6">
            <i class="material-icons">file_download</i>
            EXPORTAR INFORMACIÓN A EXCEL ({{Fecha}})
            </button>
            <br>
            <br>

            <h1>CONTROL DE RUTAS</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <th>Fecha</th>
                        &nbsp;&nbsp;
                        <th>Conductor</th>
                        &nbsp;&nbsp;
                        <th>Placa</th>
                        &nbsp;&nbsp;
                        <th>Ruta</th>
                        &nbsp;&nbsp;
                        <th>Reg salida</th>
                        &nbsp;&nbsp;
                        <th>Reg llegada</th>
                        &nbsp;&nbsp;
                        <th>Pasajeros</th>
                        &nbsp;&nbsp;
                        <th>Producido</th>
                        &nbsp;&nbsp;
                        <th>A.C.P.M</th>
                        &nbsp;&nbsp;
                        <th>Basico</th>
                        &nbsp;&nbsp;
                        <th>Gastos varios</th>
                        &nbsp;&nbsp;
                        <th>Otros</th>
                        &nbsp;&nbsp;
                        <th>Total gastos</th>

                        &nbsp;&nbsp;
                        <th>Total diario</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listasRutasConductor">
                            <td>
                                {{ item.fecha }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.conductor.nombre }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.placa }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.ruta }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.reg_salida }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.reg_llegada }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.reg_llegada - item.reg_salida }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ (item.reg_llegada - item.reg_salida) * valorPasaje | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.acpm | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ basico | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.otros_gastos | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.bonificacion | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.total_gastos | currency }}
                            </td>
                            &nbsp;&nbsp;
                            <td>
                                {{ item.neto_total | currency }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="width: 30%; margin-left: auto;">
                    <label style="font-weight: bold; font-size: 20px;">TOTAL DIARIO NETOS {{sumaNetosDiarios | currency}}</label>
                </div>
            </div>
            <div class="sinRodamiento" class="alert alert-info sinRodamiento" role="alert" *ngIf="rodamientoVehiculo.fecha != Fecha && this.dataUser.conductor[0].rol != 'admin'">
                USUARIO SIN RODAMIENTO ASIGNADO
            </div>
            <div *ngIf="!estadoBtn" style="
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 10px;
    " class="alert alert-warning" role="alert" (click)="openDialog()">
                <!-- USUARIO SIN RODAMIENTO ASIGNADO -->
                INICIAR RUTA
                <mat-icon>add</mat-icon>
            </div>
            <!-- <button button mat-fab color="primary" (click)="openDialog()" class="button mt-5" *ngIf="rodamientoVehiculo.fecha === Fecha">
      </button> -->
        </mat-card>
    </mat-tab>
    <mat-tab label="Vehiculos" style="height: 100%" *ngIf="this.dataUser.conductor[0].rol === 'admin'">
        <div style="
        width: 50%;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
      ">
            <span style="font-size: 25px">LISTADO DE VEHICULOS CON INFORMACION DE MANTENIMIENTO - RUTAS DIARIAS - PANEL DE NOTIFICACIONES  </span>
        </div>
        <div class="row">
            <div class="col-md-3" *ngFor="let item of listaVehiculos" (click)="openInfoVehiculo(item.placa, item._id)">
                <br />
                <mat-card class="cardNetos">
                    <mat-card-title>PLACA {{ item.placa }}</mat-card-title>
                    <mat-card-subtitle>Numero Vehiculo {{ item.numero }}</mat-card-subtitle>
                    <mat-card-content>
                        <label *ngIf="item.estado === 'Activo' ">  <mat-icon  style="color: #5ee90e;">fiber_manual_record </mat-icon> Activo</label>
                        <label *ngIf="item.estado === 'PyP' ">  <mat-icon *ngIf="item.estado === 'PyP'"  style="color: #eb1919;">fiber_manual_record</mat-icon> Pico y Placa</label>
                        <label *ngIf="item.estado === 'Taller' ">  <mat-icon *ngIf="item.estado === 'Taller'"  style="color: #eee234;">fiber_manual_record</mat-icon> Taller</label>
                        <label *ngIf="item.estado === 'Mantenimiento' ">  <mat-icon *ngIf="item.estado === 'Mantenimiento'"  style="color: #19ddeb;">fiber_manual_record</mat-icon> Mantenimiento</label>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>