<div class="formulario_ctrlVehiculos input_especial" style="margin-left: auto; margin-right: auto">
    <form [formGroup]="formControlVehiculo">
        <div class="row">
            <div class="col-md-6 form-group">
                <mat-label class="lable"><b>Fecha:</b>{{ Fecha }} &nbsp;&nbsp;</mat-label>
            </div>
            <div class="col-md-6 form-group">
                <mat-label class="lable"><b>Ruta:</b> {{ Ruta }} &nbsp;&nbsp;</mat-label>
                <!-- <input matInput name="ruta" formControlName="ruta" class="form-control style" value="{{Ruta}}" [disabled]="true"> -->
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 form-group">
                <mat-label class="lable">
                    <b>Placa:</b>{{ Placa }} &nbsp;&nbsp;</mat-label>
                <!-- <input matInput name="placa" formControlName="placa" class="form-control style" value="{{Placa}}" [disabled]="true"> -->
            </div>
            <div class="col-md-7 form-group">
                <mat-label class="lable"><b>Conductor:</b> &nbsp;&nbsp;{{ conductor.nombre }}</mat-label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <mat-form-field mat-form-field class="example-full-width">
                <mat-label class="lable">Numero de vuletas</mat-label>
                <input matInput type="number" name="numero_vueltas" formControlName="numero_vueltas" class="form-control style" placeholder="" />
            </mat-form-field>
        </div>
        <br />
        <div class="form-group">
            <mat-form-field mat-form-field class="example-full-width">
                <mat-label class="lable">Registradora salida</mat-label>
                <input matInput type="text" name="reg_salida" formControlName="reg_salida" class="form-control style" placeholder="" />
            </mat-form-field>
        </div>
        <br />
        <div class="form-group">
            <mat-form-field mat-form-field class="example-full-width">
                <mat-label class="lable">Registradora llegada</mat-label>
                <input matInput type="text" name="reg_llegada" formControlName="reg_llegada" class="form-control style" placeholder="" />
            </mat-form-field>
        </div>
        <br />
        <div class="form-group">
            <mat-form-field mat-form-field class="example-full-width">
                <mat-label class="lable">A.C.P.M </mat-label>
                <input matInput type="number" name="acpm" formControlName="acpm" class="form-control style" placeholder="" />
            </mat-form-field>
        </div>
        <br />
        <!-- <div class="form-group">
            <mat-form-field mat-form-field class="example-full-width">
                <mat-label class="lable">Montaje llantas </mat-label>
                <input matInput type="number" name="montaje_llantas" formControlName="montaje_llantas" class="form-control style" placeholder="">
            </mat-form-field>

        </div>
        <br> -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> Otros gastos </mat-panel-title>
                </mat-expansion-panel-header>
                <div formArrayName="otros">
                    <div class="row" [formGroupName]="i" *ngFor="let direccion of otros.controls; let i = index">
                        <mat-form-field mat-form-field class="example-full-width">
                            <mat-label>Descripcion</mat-label>
                            <input matInput type="text" formControlName="descripcion" />
                        </mat-form-field>
                        <mat-form-field mat-form-field class="example-full-width">
                            <mat-label>Valor</mat-label>
                            <input matInput type="number" formControlName="valor" />
                        </mat-form-field>
                    </div>
                </div>
                <button button mat-fab color="primary" class="button" (click)="agregarOtros()">
          <mat-icon>add</mat-icon>
        </button>
            </mat-expansion-panel>
        </mat-accordion>
        <br />

        <mat-dialog-actions align="end">
            <button mat-button color="warn" mat-dialog-close>Cancelar</button>
            <button mat-button type="submit" color="primary" [mat-dialog-close]="true" (click)="crearControlVehiculo()" cdkFocusInitial>
        Guardar
      </button>
        </mat-dialog-actions>
    </form>
</div>

<br />