<app-menu></app-menu>
<br>
<mat-card class="card">
    <button mat-raised-button style="background-color: #EB7827; color: white;" (click)="recargar()">
        <mat-icon>refresh</mat-icon>
    </button>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h1>LISTA CONDUCTORES</h1>
        </div>
        <div class="col-md-6">
            <button button mat-fab style="background-color: #EB7827; color: white;" (click)="openDialog()" class="button ">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="lista-conductor" id="lista_conductor">
        <table class="table" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">N° Buseta (ID)</th>
                    <!-- <th scope="col">Celular</th> -->
                    <th scope="col">Rol</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of listConductores">
                <tr *ngIf="item.rol != 'admin' ">
                    <td>{{item.nombre | titlecase}}</td>
                    <td>{{item.cedula}}</td>
                    <!-- <td>{{item.numero_celular}}</td> -->
                    <td>{{item.rol | titlecase}}</td>
                </tr>
            </tbody>
        </table>
    </div>




</mat-card>