<mat-dialog-content class="mat-typography">
    <button mat-raised-button color="primary" (click)="exportAsXLSX()" class="button mt-6">
        <i class="material-icons">file_download</i>
        EXPORTAR INFO DEL MES
      </button>

    <h3>Selecciona un mes para revisar informacion de los vehiculos</h3>
    <input type="month" name="fecha" id="fecha" class="" [(value)]="Fecha" (change)="SendDataonChange($event)">
    <br />
    <br />
    
    <table class="table">
        <thead class="thead-dark">
            <th>Fecha</th>
            &nbsp;&nbsp;
            <th>Nombre y apellido</th>
            &nbsp;&nbsp;
            <th>Reg salida</th>
            &nbsp;&nbsp;
            <th>Reg llegada</th>
            &nbsp;&nbsp;
            <th>Pasajeros</th>
            &nbsp;&nbsp;
            <th>Producido</th>
            &nbsp;&nbsp;
            <th>A.C.P.M</th>
            &nbsp;&nbsp;
            <th>Basico</th>
            &nbsp;&nbsp;
            <th>Gastos varios</th>
            &nbsp;&nbsp;
            <th>Otros</th>
            &nbsp;&nbsp;
            <th>Total gastos</th>
            &nbsp;&nbsp;
            <th>Total diario</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of infoVehiculosMes">
                <td>
                    {{ item.fecha }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.conductor.nombre }}
                </td>
                &nbsp;&nbsp;

                <td>
                    {{ item.reg_salida }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.reg_llegada }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.reg_llegada - item.reg_salida }}
                </td>
                &nbsp;&nbsp;

                <td>
                    {{ (item.reg_llegada - item.reg_salida) * valorPasaje | currency }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.acpm | currency }}
                </td>
                &nbsp;&nbsp;

                <td>
                    {{ basico | currency }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.otros_gastos | currency }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.bonificacion | currency }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.total_gastos | currency }}
                </td>
                &nbsp;&nbsp;
                <td>
                    {{ item.neto_total | currency }}
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>



<footer class="pmd-footer pmd-footer-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- <span style="font-weight: bold; font-size: 20px;" class="pmd-footer-sub-title">TOTAL SUMA NETOS MES  </span>
                <span style="font-weight: bold; font-size: 20px;" class="pmd-footer-sub-title"> ( {{sumaNetos | currency}} ) </span> -->
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="disable_ripple">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="textDetail">
                                Resumen de valores por mes
                            </mat-panel-title>
                            <mat-panel-description class="textDetail">
                                NETO TOTAL ( {{sumaNetos | currency}} )
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row mt-3">
                            <div class="col-md-4 text">
                                <span>CANTIDAD PASAJEROS : {{sumaPasajeros}}</span>
                            </div>
                            <div class="col-md-4 text">
                                <span>TOTAL PRODUCIDO : {{(sumaPasajeros) * 2080 | currency}}</span>
                            </div>
                            <div class="col-md-4 text">
                                <span>TOTAL A.C.P.M : {{totalACPM | currency}}</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 text">
                                <span>TOTAL BASICOS: {{totalBasicos | currency}}</span>
                            </div>
                            <div class="col-md-4 text">
                                <span>TOTAL BONIFICACIONES: {{totalBonificaciones | currency}}</span>
                            </div>
                            <div class="col-md-4  textDetail">
                                <span>TOTAL GASTOS : {{totalGastos | currency}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 text mt-3">
                            <span>TOTAL NETO : {{sumaNetos | currency}}</span>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</footer>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">CERRAR</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>